version: '3.3'

services:
  redis:
    image: redis:latest
    restart: always
    volumes:
      - redis_vol:/r_data
    # ports:
    #   - 6379:6379

  redis_insight:
    image: redislabs/redisinsight:latest
    restart: always
    depends_on:
      - redis
    ports:
      - 8001:8001
    volumes:
      - redis_insight_vol:/ri_data

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres

  web:
    build: .
    restart: always
    working_dir: /app
    # If you encounter ssl troubles during local development
    # just change the first port number to something else
    # and connect through that port
    ports:
      - 8080:8000
    volumes:
      - ./:/app:Z
      - staticfiles:/app/staticfiles
    depends_on:
      - redis
      - db
    environment: 
      REDIS_URL: redis://redis:6379/0

      USE_POSTGRES: 'True'
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: postgres

      DEBUG: 'True'
      DISABLE_SSL: 'True'

      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
    command: bash -c "python manage.py migrate && gunicorn telegram_sendall.wsgi --bind 0.0.0.0:8000"

  worker:
    build: .
    working_dir: /app
    # volumes:
    #   - ./:/app:Z
    depends_on: 
      - redis
      - db
    environment: 
      REDIS_URL: redis://redis:6379/0
      USE_POSTGRES: 'True'
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: postgres
      DEBUG: 'True'
      DISABLE_SSL: 'True'

      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
    command: celery worker --app=telegram_sendall.celery.app --without-heartbeat -l debug


  nginx:
    build: ./nginx
    volumes:
      - staticfiles:/app/staticfiles
    ports:
      - 80:80
    depends_on:
      - web

volumes:
  staticfiles:
  redis_vol:
  redis_insight_vol:
