{% extends 'sendall/base.html' %}
{% load widget_tweaks %}

{% block header %}
<header class='container-fluid'>
    <h1 class='page-title'>Change Password</h1>
</header>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <!-- {% if form.errors %}
    <div class="md-card danger">
        <p>Please enter a correct username and password.</p>
    </div>
    {% endif %} -->

    <form class="md-card" action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <!-- {% if form.current_password.errors %}
                <ol>
                {% for error in form.current_password.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %} -->
            {{ form.current_password.label_tag }}
            {{ form.current_password|add_class:"form-control" }}
            {{ form.current_password.errors }}
        </div>
        <div class="form-group">
            <!-- {% if form.new_password.errors %}
                <ol>
                {% for error in form.new_password.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %} -->
            {{ form.new_password.label_tag }}
            {{ form.new_password|add_class:"form-control" }}
            {{ form.new_password.errors }}
        </div>
        <div class="form-group">
            <!-- {% if form.new_password_repeat.errors %}
                <ol>
                {% for error in form.new_password_repeat.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %} -->
            {{ form.new_password_repeat.label_tag }}
            {{ form.new_password_repeat|add_class:"form-control" }}
            {{ form.new_password_repeat.errors }}
        </div>
        <input type="submit" value="Change" class="btn btn-lg btn-block btn-light">
    </form>
</div>
{% endblock %}