{% extends 'sendall/base.html' %}
{% load static %}

{% block nav_header %}
<h1 class='page-title'>Session {{ session.name }}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-5">
			<div id="dials" class="fixed-card card-shadow">
				<button class="btn btn-lg btn-outline-primary btn-block" target="#chats-contacts" id="collapsing_button">Chats and contacts list</button>
				<div id="chats-contacts">
					<button class="btn btn-light btn-block" id="chat-hideshow">Show/hide dialogs</button>
					<div class="d-flex flex-row show">
						<div id="vue-dialogs"></div>
						<div id="vue-contacts-list"></div>
					</div>
				</div>
			</div>
		<div id="white-list"></div>
	</div>
		<div class="col-sm-12 col-md-7" id="right-card">
			<div id="vue-message"></div>
			<div id="scheduled"></div>
		</div>
	</div>
  <div class="flex justify-content-center mb-2">
    <ul class="nav nav-pills flex justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-sched-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Scheduled messages page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-reply-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Reply messages page</a>
      </li>
    </ul>
  </div>
	<div class="modal" id="not-logged-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Session not valid</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>The access to your account cannot be gained. Maybe you accidentally ended your session via official Telegram app.</p>
					<p>You need to relogin to your Telegram account to continue.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<a type="button" class="btn btn-primary" role="button" href="{% url 'add-session' %}">Relogin</a>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="{% static 'sendall/js/axios.min.js' %}"></script>
<script src="{% static 'sendall/js/session_detail.js' %}"></script>
<script src="{% static 'sendall/js/scheduled_messages.js' %}"></script>
<script src="{% static 'sendall/js/white-list.js' %}"></script>

{% endblock %}

