{% extends 'sendall/base.html' %}
{% load static %}

{% block nav_header %}
 <h1 class='page-title'>Session {{ session.name }}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div id="vue-dialogs"></div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div id="vue-message"></div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div id="vue-contacts-list"></div>
        </div>
    </div>
    <div class="modal" id="not-logged-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Session not valid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The access to your account cannot be gained. Maybe you accidentally ended your session via official Telegram app.</p>
                    <p>You need to relogin to your Telegram account to continue.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-primary" role="button" href="{% url 'add-session' %}">Relogin</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="{% static 'sendall/js/axios.min.js' %}"></script>
<script src="{% static 'sendall/js/session_detail.js' %}"></script>
{% endblock %}