{% extends 'sendall/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
<header class='container-fluid'>
    <h1 class='page-title'>Add Session</h1>
</header>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <div id="errors">

    </div>
    <div id="add-session">
        <form class="md-card" @submit="sendData" action="{% url 'add-session' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.phone.label_tag }}
                {{ form.phone|add_class:"form-control"|attr:"autofocus"|attr:"v-model:form_data.phone"|attr:"v-bind::class:{ 'is-invalid' : form_data.phone_valid == false }" }}
                <div class="invalid-feedback" v-if="!form_data.phone_valid">
                    Please provide a valid phone number.
                </div>
            </div>
            <div class="form-group" v-if="state == 'code'">
                {{ form.code.label_tag }}
                {{ form.code|add_class:"form-control"|attr:"v-model:form_data.code" }}
            </div>
            <div class="form-group" v-if="state == 'password'">
                {{ form.password.label_tag }}
                {{ form.password|add_class:"form-control"|attr:"v-model:form_data.password" }}
            </div>
            <input type="submit" value="Next" class="btn btn-lg btn-block btn-light">
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'sendall/js/axios.min.js' %}"></script>
<script src="{% static 'sendall/js/session_add.js' %}"></script>
{% endblock %}