html {
  font-size: 17px; }

.card-shadow {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  padding: 20px 15px; }

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.page-title {
  display: block;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px; }

.md-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  padding: 20px 15px;
  width: 500px; }
  @media (max-width: 540px) {
    .md-card {
      width: 90%; } }
  .md-card h1, .md-card h2, .md-card h3, .md-card h4, .md-card h5, .md-card h6, .md-card p {
    text-align: center; }
  .md-card a:hover {
    text-decoration: none; }

.loading-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  padding: 20px 15px; }
  @media (max-width: 540px) {
    .loading-card {
      width: 90%; } }
  .loading-card h1, .loading-card h2, .loading-card h3, .loading-card h4, .loading-card h5, .loading-card h6, .loading-card p {
    text-align: center; }
  .loading-card a:hover {
    text-decoration: none; }

.danger {
  background-color: white;
  color: #ff3232; }

.success {
  background-color: white;
  color: #1ebe00; }

a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }

.sm-card {
  max-height: 68vh;
  overflow: auto; }

.fixed-card {
  max-height: 87vh;
  overflow: auto; }
  .fixed-card .btn {
    margin-bottom: 10px; }
  .fixed-card .contact {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 10px 5px;
    padding: 10px 7px; }
  .fixed-card .selected {
    animation: selection .3s ease-in-out;
    animation-fill-mode: forwards; }
  .fixed-card textarea {
    width: 100%; }
  .fixed-card .custom-checkbox label {
    margin-left: 16px; }

.fixed-card::-webkit-scrollbar,
.sm-card::-webkit-scrollbar {
  width: 0px; }

.fixed-card::-webkit-scrollbar-track,
.sm-card::-webkit-scrollbar-track {
  border-radius: 8px; }

.fixed-card::-webkit-scrollbar-thumb,
.sm-card::-webkit-scrollbar-thumb {
  border-radius: 8px; }

.message {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.93rem; }

.message::before {
  content: ' ';
  display: block;
  width: 94%;
  height: 2px;
  margin: 4px 0;
  border-radius: 40%;
  background-color: rgba(142, 168, 252, 0.3); }

@keyframes selection {
  from {
    background-color: inherit; }
  to {
    background-color: #1b6bff;
    color: white; } }
.list-name {
  padding: 8px; }

.help-popup-icon {
  display: inline-block;
  font-size: 0.68rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 25%; }

/*# sourceMappingURL=style.css.map */
