html {
    font-size: 17px;
}

@mixin card-shadow {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
    margin: 20px 0;
    padding: 20px 15px;
}
@mixin card-like {
    @include card-shadow;

    @media (max-width: 540px) {
        width: 90%;
    }

    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
    a:hover {
        text-decoration: none;
    }
}

.card-shadow {
    @include card-shadow();
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-title {
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 20px;
}

.md-card {
    @include card-like;
    width: 500px;
}
.loading-card {
    @include card-like();
}

.danger {
    // color: rgba(255, 255, 255, 1);
    // background-color: rgba(255, 50, 50, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 50, 50, 1);
}

.success {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(30, 190, 0, 1);
}

a:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sm-card {
    max-height: 68vh;
    overflow: auto;
}

.fixed-card {
    max-height: 87vh;
    overflow: auto;

    .btn {
        margin-bottom: 10px;
    }
    .contact {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        margin: 10px 5px;
        padding: 10px 7px;
    }

    .selected {
        animation: selection .3s ease-in-out;
        animation-fill-mode: forwards;
    }
    textarea {
        width: 100%;
    }

    .custom-checkbox label {
        margin-left: 16px;
    }
}
.fixed-card::-webkit-scrollbar,
.sm-card::-webkit-scrollbar {
    width: 0px;
}

.fixed-card::-webkit-scrollbar-track,
.sm-card::-webkit-scrollbar-track {
    border-radius: 8px;
}

.fixed-card::-webkit-scrollbar-thumb,
.sm-card::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.93rem;
}
.message::before {
    content: ' ';
    display: block;
    width: 94%;
    height: 2px;
    margin: 4px 0;    
    border-radius: 40%;
    background-color: rgba(142, 168, 252, 0.3)
}

@keyframes selection {
    from {
        background-color: inherit;
    }
    to {
        background-color: rgb(27, 107, 255);
        color: white;
    }
}

.list-name {
    padding: 8px;
}

.help-popup-icon {
    display: inline-block;
    font-size: 0.68rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 25%;
}