html {
  font-size: 17px;
}

.card-shadow {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  padding: 10px 10px;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-title {
  display: block;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
}

.md-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  padding: 10px 10px;
  width: 500px;
}

@media (max-width: 540px) {
  .md-card {
    width: 90%;
    margin: 0 auto;
  }
}

.md-card h1, .md-card h2, .md-card h3, .md-card h4, .md-card h5, .md-card h6, .md-card p {
  text-align: center;
}

.md-card a:hover {
  text-decoration: none;
}

.loading-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  padding: 10px 10px;
}

@media (max-width: 540px) {
  .loading-card {
    width: 90%;
    margin: 0 auto;
  }
}

.loading-card h1, .loading-card h2, .loading-card h3, .loading-card h4, .loading-card h5, .loading-card h6, .loading-card p {
  text-align: center;
}

.loading-card a:hover {
  text-decoration: none;
}

.danger {
  background-color: white;
  color: #ff3232;
}

.success {
  background-color: white;
  color: #1ebe00;
}

a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.sm-card {
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.sm-card p {
  word-wrap: break-word;
}

.fixed-card {
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-card .btn {
  margin-bottom: 10px;
}

.fixed-card .contact {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 10px 5px;
  padding: 10px 7px;
}

.fixed-card .selected {
  -webkit-animation: selection .3s ease-in-out;
          animation: selection .3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fixed-card textarea {
  width: 100%;
}

.fixed-card .custom-checkbox label {
  margin-left: 16px;
}

.contact {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 10px 5px;
  padding: 10px 7px;
}

.fixed-card::-webkit-scrollbar,
.sm-card::-webkit-scrollbar {
  width: 0px;
}

.fixed-card::-webkit-scrollbar-track,
.sm-card::-webkit-scrollbar-track {
  border-radius: 8px;
}

.fixed-card::-webkit-scrollbar-thumb,
.sm-card::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.message {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.93rem;
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
}

.message::before {
  content: ' ';
  display: block;
  width: 94%;
  height: 2px;
  margin: 4px 0;
  border-radius: 40%;
  background-color: rgba(142, 168, 252, 0.3);
}

@-webkit-keyframes selection {
  from {
    background-color: inherit;
  }
  to {
    background-color: #1b6bff;
    color: white;
  }
}

@keyframes selection {
  from {
    background-color: inherit;
  }
  to {
    background-color: #1b6bff;
    color: white;
  }
}

.list-name {
  padding: 8px;
}

.help-popup-icon {
  display: inline-block;
  font-size: 0.68rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 25%;
}

.message-input {
  width: 60%;
}

.active-tasks {
  width: 40%;
  margin-left: 5px;
  padding: 5px;
}

.contact h5 {
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
}

.active-tasks h5 {
  text-align: center;
}

.chats-block {
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}

.contacts-block {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.chats-open {
  width: 50% !important;
  opacity: 1 !important;
  padding: 8px;
}

.contacts-open {
  width: 50%;
}

.active-tasks {
  max-height: 72vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.active-tasks h5 {
  margin-bottom: 5px;
}

.active-tasks .current-tasks .task {
  max-height: 200px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.active-tasks .current-tasks .task .time {
  font-size: 12px;
  margin-bottom: 0;
  text-align: end;
  padding-right: 10px;
}

.active-tasks .current-tasks .task .task-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-tasks .current-tasks .task h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.active-tasks .current-tasks .task h6.full {
  white-space: normal;
  overflow: scroll;
  text-overflow: inherit;
  font-size: 15px;
}

.clicked {
  background-color: #1b6bff;
  color: white;
}

.active-tasks .current-tasks .task .message-text {
  height: 80%;
}

.active-tasks .current-tasks .task .people {
  height: 20%;
}

.form-group {
  margin-bottom: 0.7rem !important;
}

.but-send {
  margin-bottom: 0 !important;
}

#chats-contacts {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.show-enter-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.show-leave-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.show-enter, .show-leave-to {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  opacity: 0;
}

.show_horiz_right-enter-active {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.show_horiz_right-leave-active {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.show_horiz_right-enter {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.show_horiz_right-leave-to {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  opacity: 0;
}

.show_horiz_left-enter-active {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.show_horiz_left-leave-active {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.show_horiz_left-enter {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  opacity: 0;
}

.show_horiz_left-leave-to {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.fade-in-enter-active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade-in-leave-active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-leave-to {
  opacity: 0;
}

.not-loaded {
  display: none;
}

#right-card {
  padding-right: 0 !important;
}

.no-chats-message p {
  color: red;
  padding-top: 15px;
}

@media screen and (max-width: 575px) {
  .message-input {
    width: 100%;
  }
  .active-tasks {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(142, 168, 252, 0.6);
    margin-left: 0 !important;
  }
  .chats-block {
    max-height: 10px;
  }
  .chats-open {
    display: block;
    width: 50% !important;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .chats-open input.search {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #right-card {
    padding-left: 0 !important;
  }
  .hidden {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
  .fixed-card {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .no-chats-message {
    font-size: 15px;
  }
  #add-session {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */